html, body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    min-height: 100%;
}

#app-root {
    padding: 1em;
    background-color: #fafafa
}

.body-bg-color {
    padding: 1em;
    background-color: #FAFAFA;
    background-image: url('./bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.is-page {
    min-height: 100vh;
    padding: 2em 0;
}

.is-bold {
  font-weight: bold;
}

.is-round {
  border-radius: 50%;
}

.card {
    margin: 0 0 1em 0;
}

ul {
    list-style: square;
}


.login-header {
    margin: 3em 0;
}

.RegForm{
    width: 400px;
    margin: 0 auto;
}


@media only screen and (min-width: 35em) {

}
