        <div class="container is-fluid">
            <div class="columns is-page">

                <!-- Left -->
                <div class="column is-3">
                    <h1 class="title">Locations</h1>
                    <div v-for="(item, index) in playerLocations" class="media">
                        <div class="media-left">
                            <figure class="image is-32x32">
                                <img src="https://bulma.io/images/placeholders/32x32.png" alt="img">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p>{{ item.display_name }}</p>
                        </div>
                    </div>
                    <p class="has-text-right">{{ playerLocations.length }} / {{ allLocations.length }}</p>
                    <hr>
                    <h1 class="title">Events</h1>
                    <div v-for="(item, index) in playerEvents" class="media">
                        <div class="media-left">
                            <figure class="image is-32x32">
                                <img src="https://bulma.io/images/placeholders/32x32.png" alt="img">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p>{{ item.display_name }}</p>
                        </div>
                    </div>
                    <p class="has-text-right">{{ playerEvents.length }} / {{ allEvents.length }}</p>
                </div>

                <!-- Middle -->
                <div id="player-hand" class="column is-6">
                    <h1 class="title is-3">Hand</h1>
                    <div class="columns is-desktop is-multiline">
                        <div class="column is-6" v-for="(item, card_index) in playerCards">
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">{{ item.display_name }}</p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <div @click="playCard(card_index)" class="card-footer-item">Play</div>
                                    <div @click="dropCard(card_index)" class="card-footer-item">Discard</div>
                                    <div @click="findGroup(item.id_card)" class="card-footer-item">Find Group</div>
                                </footer>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <button class="button" @click="dealCard()">Get Card</button>
                </div>

                <!-- Right -->
                <div class="column is-3">
                    <h1 class="title is-3">Friends</h1>
                    <div v-for="(item, index) in playerFriends" class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/48x48.png" alt="img">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p>{{ item.display_name }}</p>
                            <button @click="requestGroup(item)" class="is-pulled-right">Add To Group</button>
                        </div>
                    </div>
                    <hr>
                    <h1 class="title is-3">Group</h1>
                    <div v-if="lookingForGroup()">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">{{ playerState.group.card.display_name }}</p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <p>{{ playerState.group.card.description }}</p>
                                    <div class="field">
                                        <label class="label">Group Name</label>
                                        <div class="control">
                                            <input class="input" type="text" placeholder="Group Name" v-model="playerState.group.name">
                                        </div>
                                    </div>
                                    <p class="has-text-weight-bold">Group Members</p>
                                    <ul>
                                        <li v-for="(item, index) in playerState.group.members">
                                            {{ item.display_name }} - {{ item.accepted ? "Ready!" : "Waiting..." }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div @click="playGroupCard()" class="card-footer-item">Play</div>
                                <div @click="playerState.group.card = {}" class="card-footer-item">Cancel</div>
                            </footer>
                        </div>
                    </div>
                    <hr>
                    <div v-for="(item, index) in pendingInvites" class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/48x48.png" alt="img">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p>{{ item.player.display_name }} has invited you to join him!</p>
                            <p>Would you like to <strong>{{ item.card.display_name }}</strong>?</p>
                            <button @click="acceptGroup(item)" class="is-pulled-right">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>